
# ignore all
*/**/*
/*

# include some root files
!.eslintrc.js
!.eslintrc.json
!.gitignore
!AGENTS.md
!.prettierrc
!.prettierignore
!README.md
!index.js
!package.json
!CHANGELOG.md
!package-lock.json

# include dir grunt
!/grunt
!grunt/**/*

# ignore certain file patterns
*.marks
*/**/*.marks
*~
*/**/*~
#*#
*/**/#*#
