
# ignore all
*/**/*
/*

# include some root files
!.eslintrc.json
!.gitignore
!README.md
!index.js
!package.json
!CHANGELOG.md

# include dir grunt
!/grunt
!grunt/**/*

# ignore certain file patterns
*.marks
*/**/*.marks
*~
*/**/*~
#*#
*/**/#*#
