
# ignore all
*/**/*
/*

# include some root files
!.gitignore
!index.js
!package.json
!.eslintrc.json
!CHANGELOG.md
!README.md

# include dir grunt
!/grunt
!grunt/**/*

# ignore certain file patterns
*.marks
*/**/*.marks
*~
*/**/*~
#*#
*/**/#*#
